@{ ViewBag.Title = "Order history"; }

<br />

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="row my-flex-center">
    @foreach (KendamaShop.Models.Order order in ViewBag.Orders)
    {
<div class="card shadow my-card-margin">
    @Html.Partial("OrderInfo", order)
    <div class="card-footer">
        <a class="btn btn-sm btn-success full-width" href="/Orders/Show/@order.OrderId">Show order</a>
    </div>
</div>}
</div>