@{ ViewBag.Title = "Cart"; }

<h1>@ViewBag.Message</h1>

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

<div class="row my-flex-center">
    @foreach (KendamaShop.Models.Product prod in ViewBag.Products)
    {
<div class="card shadow my-card-margin" style="width: 30%">
    @Html.Partial("ProductInfo", prod)
    <div class="card-footer">
        <a class="btn btn-sm btn-success full-width" href="/Products/Show/@prod.ProductId">Show product</a>
    </div>
</div>}
</div>

@if (ViewBag.ToBuy)
{
<form method="post" action="/Orders/Buy">
    <button class="btn btn-sm btn-success" type="submit">Buy</button>
</form>}