@{ ViewBag.Title = "Products awaiting confirmation"; }

<br />

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="row my-flex-center">

    @foreach (KendamaShop.Models.Product prod in ViewBag.Products)
    {
<div class="card shadow my-card-margin" style="width: 30%">
    @Html.Partial("ProductInfo", prod)
    <div class="card-footer">
        <div class="my-flex-space-between">
            <a class="btn btn-sm btn-success" href="/Products/Show/@prod.ProductId">Show product</a>
            <a class="btn btn-sm btn-success" href="/Products/Accept/@prod.ProductId">Accept product</a> 
        </div>

    </div>
</div>}

</div>