@{
    ViewBag.Title = "Products awaiting confirmation";
}

<h1>@ViewBag.Message</h1>

<h2>@ViewBag.Title</h2>

@foreach (KendamaShop.Models.Product product in ViewBag.Products)
{
<div class="panel panel-default">
    @Html.Partial("ProductInfo", product)
    <div class="panel-footer">
        <a class="btn btn-sm btn-danger pull-left" href="/Products/Decline/@product.ProductId">Decline product</a>
        <a class="btn btn-sm btn-success pull-right" href="/Products/Accept/@product.ProductId">Accept product</a>
        <div class="clearfix" />
    </div>
</div>
}