<div class="panel-heading">@Model.OrderId</div>
<div class="panel-body">
    Purchase date:
    <strong>@Model.Date</strong>
    <br />
    Product count:
    <strong>@Model.OrderProducts.Count</strong>
    <br />
    Product price:
    <br />
    Product rating:
    </br>
    Product category:
    <br />
    <i class="glyphicon glyphicon-user"></i><i>Product added by: </i>
</div>