<div class="card-header">
    <strong>
        @Model.Date
    </strong>
</div>
<div class="card-body">
    <strong>Product count: </strong>
    <strong>@Model.OrderProducts.Count</strong>
    <br />
    <strong>Order price: </strong>
    <br />
    <strong>Product rating: </strong>
    </br>
</div>