<div class="card-header">
    <strong>
        @Model.Date
    </strong>
</div>
<div class="card-body">
    <i class="fas fa-calculator"></i> <strong>Product count: </strong>
    @ViewBag.OrderPCount[Model.OrderId]
    <br />

    <i class="fas fa-money-bill-wave"></i> <strong>Order price:</strong>
    $@ViewBag.TotalOrdersCost[Model.OrderId]
</div>