<div class="card-header">
    <strong>
        @Model.Date
    </strong>
</div>
<div class="card-body">
    Product count:
    <strong>@Model.OrderProducts.Count</strong>
    <br />
    Order price:
    <strong>@ViewBag.TotalOrdersCost[Model.OrdedId]</strong>
</div>