
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Product description:
        <strong>@Model.Description</strong>
        <br />
        Product price:
        <strong>@Model.Price</strong>
        Product rating:
        <strong>@Model.Rating</strong>
    </div>