
<div class="card-header">@Model.Stars stars</div>
<div class="card-body">
    <i class="fas fa-calendar-alt"></i> Data: <strong>@Model.Date</strong>
    <br />
    <i class="fas fa-file-alt"></i> Content: <strong>@Model.Content</strong>
    <br />
    <i class="fas fa-user"></i> Review written by: </i>
    <strong> @Model.User.UserName </strong>
</div>
