
<div class="card-header">@Model.Stars stars</div>
<div class="card-body">
    Data: <strong>@Model.Date</strong>
    <br />
    Content: <strong>@Model.Content</strong>
    <i class="glyphicon glyphicon-user"></i><i>Review written by: </i>
    <strong> @Model.User.UserName </strong>
</div>
