body{
    font-family: Poppins;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #dadada !important;
    border: none !important;
    box-shadow: 0 6px 12px #dadada !important;
}

.navbar a {
    color: #2c2c2c !important;
}

.navbar a:hover {
    color: #5cb85c !important;
}

.my-ml-auto {
    left: auto !important;
    right: 0px;
}

.my-flex-center {
    justify-content: center;
    align_items: center;
}

.my-card-margin {
    margin: 10px auto;
}