
@{ ViewBag.Title = "All Categories"; }

<br />

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

@if (User.IsInRole("Admin"))
{
<a class="btn btn-primary" href="/Categories/New">Add category</a>
                <br />
                                <br />
}


<a class="btn btn-primary" href="/Products/Index">Show all products</a>

<br />
<br />

<div class="row my-flex-center">
    @foreach (var category in ViewBag.Categories)
    {
<div class="card shadow my-card-margin">
    <div class="card-body">
        <strong>@category.CategoryName</strong>
    </div>
    <div class="card-footer">
        <a class="btn btn-success" href="/Categories/Show/@category.CategoryId">View Category</a>
        @if (User.IsInRole("Admin"))
        {
<a class="btn btn-success" href="/Categories/Edit/@category.CategoryId">Edit Category</a>}
    </div>
</div>}
</div>
<br />
<br />

