@model KendamaShop.Models.Category
@{
    ViewBag.Title = "Show Category";
}

<h2>@ViewBag.Title</h2>

<p>@Model.CategoryName</p>

<form method="post" action="/Categories/Delete/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Delete Category</button>

</form>
<br />
<a class="btn btn-success" href="/Categories/Index/">Show all categories</a>

<br />
<hr />
<br />

